force-app/main/default/flows/Assign_Address_To_Customer_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>If the Contact has a mailing address updates other address instead</description>
        <name>Contact_Has_Mailing_Address_Check</name>
        <label>Contact Has Mailing Address Check</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Contact_Has_Other_Address_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mailing_Address_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Contact_for_Address_Update.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Mailing_Address_Update</targetReference>
            </connector>
            <label>Mailing Address Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>If mailing address is populated checks if other address is populated</description>
        <name>Contact_Has_Other_Address_Check</name>
        <label>Contact Has Other Address Check</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Address_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Contact_for_Address_Update.OtherStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Other_Address_Update</targetReference>
            </connector>
            <label>Other Address Does Not Exist</label>
        </rules>
    </decisions>
    <description>If the customer contact does not have an address assigned to their mailing address will assign first instance of an address when an inhabitant record is created. If there is a mailing address will assign new inhabitant record address to contact other address. Else will not assign address</description>
    <interviewLabel>Assign Address To Customer Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Address To Customer Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Contact_for_Address_Update</name>
        <label>Retrieve Contact for Address Update</label>
        <locationX>248</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Has_Mailing_Address_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Contact_Mailing_Address_Update</name>
        <label>Contact Mailing Address Update</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.Address__r.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Address__r.Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.Address__r.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Address__r.Street__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Other_Address_Update</name>
        <label>Contact Other Address Update</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherCity</field>
            <value>
                <elementReference>$Record.Address__r.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherPostalCode</field>
            <value>
                <elementReference>$Record.Address__r.Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>$Record.Address__r.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>$Record.Address__r.Street__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Contact_for_Address_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Inhab</stringValue>
            </value>
        </filters>
        <object>Inhabitant__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
